/* Navbar styles */
.navbar-container {
  width: 100%;
  background-color: #f0f0f0;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.navbar {
  height: 80px;
  width: 1345px;
  padding: 10px 15px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-logo img {
  height: 49px;
}
.navbar-buttons {
  display: flex;
  gap: 25px;
}
.nav-btn {
  background: none;
  border: none;
  cursor: pointer;
}
.more-btn img {
  height: 20px;
  width: 20px;
  filter: invert(39%) sepia(88%) saturate(2461%) hue-rotate(206deg)
    brightness(95%) contrast(101%);
}
/* Project header  */
#projectTitle {
  font-family: Poppins;
  font-weight: 700;
  font-size: 28px;
  color: #0029ff;
}

#submitBtn {
  background: #0029ff;
  font-family: Poppins;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  padding: 9px 24px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

/* Task Header */
#taskTitle {
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
}
#taskDescription {
  margin-top: 10px;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
}
/* Asset Card Styles */
.asset-card {
  box-shadow: 0px -4px 4px 0px #00000040;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 15px;
  height: 580px;
  width: 480px;
  margin: 0 auto;
}
.asset-header {
  background-color: #000000;
  color: #ffffff;
  border-radius: 15px 15px 0 0;
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.asset-header h1 {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 2%;
  text-align: center;
  padding: 15px 0;
}
.asset-header img {
  position: absolute;
  right: 29px;
  top: 14px;
}
.asset-description span {
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 2%;
}
.asset-description {
  padding: 20px 15px;
}

.asset-media iframe {
  width: 100%;
  height: 291px;
}

.threadbuilder-header {
  background-color: #feffc033;
  display: flex;
  gap: 0 70px;
  padding: 10px;
  border: 0.1px solid rgba(0, 0, 0, 0.2);
}

.threadbuilder-header h1 {
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0px;
}

.threadbuilder-grid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 27px;
  width: 90%;
  margin: auto;
  margin-top: 30px;
}
.sub-thread {
  box-shadow: 1px 3px 8px 0px #00000040;
  border-radius: 10px;
}
.thread-title {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 7px;
  border-radius: 10px 10px 0 0;
  font-weight: 400;
  font-style: regular;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}
.sub-thread textarea {
  border: none;
  resize: none;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  width: 200px;
  height: 70px;
}
.thread-icons {
  display: flex;
  justify-self: end;
}
.thread-icons img {
  width: 120px;
  cursor: pointer;
}
.thread-selector {
  display: flex;
  gap: 0 17px;
}
.thread-selector select {
  border-radius: 5px;
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0%;
  border: none;
  padding: 8px 3px;
  width: 91px;
  height: 32px;
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.subBtn {
  background: #0029ff;
  margin-bottom: 20px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  padding: 8px 11px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
.thread-footer {
  width: 90%;
  margin: auto;
  margin-top: 36px;
}
.article-body {
  padding: 26px;
}

.article-divider {
  height: 1px;
  background: #d1cece;
  margin: 20px 0;
}

/* Inputs */
.article-label {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 2%;
  margin-bottom: 5px;
}

.article-input {
  width: 100%;
  height: 44px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  padding: 0 12px;
  font-size: 14px;
  box-shadow: -2px 2px 6px 0px #00000026;
  outline: none;
  margin-top: 10px;
  margin-bottom: 28px;
}
.editor-toolbar {
  margin-top: 12px;
  background: #f8f8f8;
  border-radius: 8px 8px 0 0;
  box-shadow: 0px 2px 10px 0px #0000002e;
  padding: 10px 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  font-size: 13px;
  color: #666666;
}

.explore-section {
  margin-top: 20px;
  padding: 0 23px;
  margin-bottom: 16px;
}

.explore-section-header {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  font-weight: 500;
  padding: 14px 17px;
  background-color: #f2f2f2;
}

.section-title {
  flex: 1;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 2%;
}

.section-content {
  margin-top: 15px;
  padding: 0 20px;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
}

.see-more {
  margin: 40px 0;
  text-align: right;
  font-size: 13px;
  color: #6b6b6b;
  cursor: pointer;
}
.explore-subsection {
  padding: 0 23px;
}
.subsection-title {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 8px;
  width: 90%;
  justify-self: end;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  padding: 12px 14px;
}
.section-content#example1 {
  text-align: center;
}
