/* Navbar styles */
.navbar-container {
  width: 100%;
  background-color: #f0f0f0;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.navbar {
  height: 80px;
  width: 90%;
  padding: 10px 15px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-logo img {
  height: 49px;
}
.navbar-buttons {
  display: flex;
  gap: 25px;
}
.nav-btn {
  background: none;
  border: none;
  cursor: pointer;
}
.more-btn img {
  height: 20px;
  width: 20px;
  filter: invert(39%) sepia(88%) saturate(2461%) hue-rotate(206deg)
    brightness(95%) contrast(101%);
}
/* Project header  */
#projectTitle {
  font-family: Poppins;
  font-weight: 700;
  font-size: 28px;
  color: #0029ff;
}

#submitBtn {
  background: #0029ff;
  font-family: Poppins;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  padding: 9px 24px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

/* Task Header */
#taskTitle {
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
}
#taskDescription {
  margin-top: 10px;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
}
