.main-content {
  width: 80%;
  margin: 20px auto;
}

#projectHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#taskContainer {
  margin-top: 37px;
  padding: 25px 27px;
  background-color: #e9ecef;
  border-radius: 5px;
  font-family: poppins;
}
