.navbar-container {
  width: 100%;
  background-color: #f0f0f0;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.navbar {
  height: 80px;
  width: 90%;
  padding: 10px 15px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-logo img {
  height: 49px;
}
.navbar-buttons {
  display: flex;
  gap: 25px;
}
.nav-btn {
  background: none;
  border: none;
  cursor: pointer;
}
.more-btn img {
  height: 20px;
  width: 20px;
  filter: invert(39%) sepia(88%) saturate(2461%) hue-rotate(206deg)
    brightness(95%) contrast(101%);
}
