.main-content {
  width: 1086px;
  margin: 20px auto;
}

#projectHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#taskContainer {
  margin-top: 37px;
  padding: 25px 27px;
  background-color: #e9ecef;
  border-radius: 5px;
  font-family: poppins;
}

#assetGrid {
  display: grid;
  width: 1010px;
  margin: auto;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 58px 52px;
  margin-top: 75px;
  font-family: "Open Sans", sans-serif;
}

.fab-container {
  position: fixed;
  bottom: 24px;
  right: 52px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1000;
}

.fab-btn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  background: #0029ff;
  color: #ffffff;
  padding: 22px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fab-btn:hover {
  opacity: 0.8;
}
